# Build garbage
build/
compiler/generated

compiler/*.mk
compiler/ifcc

compile_commands.json

# Test garbage
ifcc-test-output

# IDE stuff
.cache/
.vscode/
.idea/

# Images
*.png
*.svg

# Dot
*.dot

# C, s and out Files at the root (often temporary files to test the compiler)
/*.c
/*.s
/*.out

# ANTLR
antlr/
