# Build garbage
build/
generated

compiler/*.mk
compiler/ifcc

compile_commands.json

# Test garbage
ifcc-test-output

# IDE stuff
.cache/
.vscode/
.idea/

# Images
*.png
*.svg

# Dot
*.dot

# C Files at the root (often temporary C files to test the compiler)
/*.c

# ANTLR
antlr/
